.JOT-logo {
  height: 100px;
  width: 100px;
}
.nav-bar {
  background-color: rgb(67, 4, 4);
  color: beige;
  border-bottom: solid black 2px;
}

.Order {
  border: solid rgb(6, 6, 6) 2px;
  position: relative;
  height: 400px;
  width: 30%;
  left: 70%;
  top: -400px;
}

.menu-section {
  top: 0px;
  border: solid rgb(6, 6, 6) 2px;
  position: relative;
  width: 70%;
}

.d-block {
  height: 600px;
  width: 100%;
  top: -300px;
}
